$font-primary: 'Roboto Mono';

$color-primary: #466CE9;
$color-primary--light: #2556fe;
$color-primary--dark: #3f62d6;
$color-secondary: #44FF97;
$color-tertiary: #00325A;

$color-paper: #F7F3E8;
$color-tint: #eaeaf9;
$color-white: #fff;
$color-black: #333;
$color-gray: #d9d8d8;
$color-gray--dark: #a1a1a1;
$color-gray--light: #eff4f9;


$border-radius: 3px;
$box-shadow: 0px 8px 25px 0px rgba(0, 15, 152, 0.15);
$box-shadow--light: 0px 0px 20px 0px rgba(0, 15, 152, 0.05);

$spacing-smallest: 0.4rem;
$spacing-smaller: 0.6rem;
$spacing-small: 0.8rem;
$spacing: 1rem;
$spacing-large: 1.2rem;
$spacing-larger: 2rem;
$spacing-largest: 3.5rem;

$header-height: 85px;

$container: 800px;
$container--wide: 1200px;
$container--narrow: 600px;

$desktop: 1200px;
