.container {
  max-width: $container;
  margin: 0 auto;
  display: block;
  clear: both;

  &.--wide {
    max-width: $container--wide;
    margin: 0 auto;
  }

  &.--narrow {
    max-width: $container--narrow;
    margin: 0 auto;
  }

}
