.modal {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;

  &__container {
    display: table-cell;
    vertical-align: middle;
  }

  &__content {
    width: 90%;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;

    @media(min-width: $container) {
      max-width: $container;
    }
  }

  &__header {
    border-bottom: 2px solid $color-gray--light;
    margin-bottom: $spacing;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__close {
    cursor: pointer;
  }

  &__body {

  }
}

.modal-animation-enter {
  opacity: 0;
}

.modal-animation-leave-active {
  opacity: 0;
}

.modal-animation-enter .modal__content,
.modal-animation-leave-active .modal__content {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
